$desktop-width: 1140px;
$tablet-width: 768px;
$mobile-width: 375px;

$color-dark-1: #B2AFA1;
$color-dark-2: #69665C;
$color-white: #FFFFFF;
$color-gray: #FAF9F8;

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.container {
    width: $desktop-width;
    margin: 0 auto;

    @media (max-width: $desktop-width) {
        width: $tablet-width;
    }

    @media (max-width: $tablet-width) {
        width: $mobile-width;
    }
}

.header {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: $color-dark-2;

    & > button {
        margin: 20px;
    }
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 10px;
    background-color: $color-gray;
}

.product-item {
    background-color: $color-dark-1;
    width: 28%;
    margin: 5px 0px 5px 0px;
    padding: 20px;

    & > img {
        margin-bottom: 10px;
        width: 100%;
    }

    & > h3 {
        color: $color-white;
        margin-bottom: 10px;
        font-size: 22px;
    }
    
    & > p {
        margin-bottom: 20px;
        font-size: 16px;
    }

    @media (max-width: $desktop-width) {
        width: 41%;
        margin: 5px 10px 5px 10px;
    }

    @media (max-width: $tablet-width) {
        width: 95%;
        margin: 5px 10px 5px 10px;
    }
}

.btn {
    padding: 15px 40px 15px 40px;
    font-size: 16px;
    font-weight: 400;
    color: $color-dark-2;
    text-decoration: none;
    border: none;

    &:hover {
        transition: 0.2s;
        background-color: $color-dark-2;
        color: $color-white;
        cursor: pointer;
    }

}

.btn-cart {
    &:hover {
        background-color: $color-dark-1;
    }
}