.basket {
    position: absolute;
    min-width: 335px;
    min-height: 0px;
    background-color: $color-dark-2;
    top: 85px;
    right: 10px;
    padding: 10px;
}
.basket__list {

}

.basket__item {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: $color-gray;
}
.basket__item:not(:first-child) {
    margin-top: 10px;
}


.basket__item_picture {
    width: 40%;
}
.basket__item_img {
    width: 100%;
}

.basket__item_info {
    width: 55%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;
}
.basket__item_amout {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.basket__item_amout-btn {
    border: none;
    width: 20px;
    background-color: $color-dark-2;
    color: $color-white;
    cursor: pointer;
}

.basket__item_delete {
    border: none;
    width: 100px;
    height: 20px;
    color: $color-white;
    background-color: $color-dark-1;
    cursor: pointer;
}


.basket__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $color-gray;
    margin-top: 10px;
}
.basket__total_price {
    font-size: 24px;
}


.btn-offer {
    background-color: $color-dark-1;
    color: $color-white !important;

    &:hover {
        transition: 0.2s;
        background-color: $color-dark-2;
        color: $color-white;
        cursor: pointer;
    }
}

